# configuration for pre-commit git hooks

repos:
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0
    hooks:
      - id: markdownlint
        language_version: system
      - id: markdownlint-fix
